.container {
  margin: left 10px;
  background-color: aquamarine;
}

.confirm-order {
  border: 15px;
  border-radius: 2%;
  border-color: blueviolet;
  background-color: aliceblue;
}

.column {
  width: 30%;
  float: left;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-style: double;
  text-shadow: 2px 2px gray;
}

.intro {
text-align: center;
}

